[Desktop Entry]
Name=Fadetouched
Comment=Atmospheric Fadetouched window decoration
X-KDE-PluginInfo-Name=Fadetouched
X-KDE-PluginInfo-Author=Arishawke
X-KDE-PluginInfo-Version=1.1.0
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Website=https://github.com/Arishawke/fadetouched-theme
